header nav {
    display: flex;
    justify-content: space-between;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-right:90px;
    align-items: center;
}

header{
    margin-top: 20px;
}


ul{
    top: 0px;
    display: flex;
    gap: 70px;
    position: relative;
}

li{
    list-style-type: none;
    cursor: pointer;
    transition: 0.5s;
}


a:hover{
    color: rgba(252, 165, 35, 0.774);
    transition: 0.5s;
}

a{
    color: white;
    text-decoration: none;
}


.ul1{
    top: 0px;
    display: flex;
    gap: 20px;
    font-size: 30px;
}


i{
    font-size: 25px;
}

body{
    background-color: black;
}


h1{
    color: white;
    font-size:50px;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left: 140px;
    top: 150px;
    letter-spacing: 4px;
    
}


p{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left: 140px;
    top: 250px;
}


.p2{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left: 140px;
    top: 330px;
}


label{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    left: 700px;
    top: 210px;
}


input{
    color: white;
    position: absolute;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    left: 700px;
    top: 250px;
    width: 220px;
    height: 40px;
    border-color: white;
    
}  


.lab1{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    left: 950px;
    top: 210px;
}

.in1{
    color: white;
    position: absolute;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    left: 950px;
    top: 250px;
    width: 220px;
    height: 40px;
    border-color: white;
}    

.lab2{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    left: 700px;
    top: 330px;
}

.in2{
    color: white;
    position: absolute;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    left: 700px;
    top: 370px;
    width: 220px;
    height: 40px;
    border-color: white;
}

.lab3{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    left: 950px;
    top: 330px;
}


.in3{
    color: white;
    position: absolute;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    left: 950px;
    top: 370px;
    width: 220px;
    height: 40px;
    border-color: white;
}
  

.lab4{
    color: white;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    top: 450px;
}


.in4{
    color: white;
    position: absolute;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
    width: 470px;
    height: 100px;
    top:480px;
}

button{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    border-color: white;
    background-color: transparent;
    position: absolute;
    width:150px;
    height: 40px;
    transition: 1s;
    left: 1025px;
    top: 610px;
}


button:hover{
    background-color: white;
    transition: 1s;
    color: black;
}

.p3{
    font-family: 'Roboto', sans-serif;
    margin-top: 550px;
    margin-right: 50px;
}